In [1]:
import pandas as pd
import seaborn as sn
import statistics as sts

In [2]:
data = pd.read_csv("D:\DADOS\Tempo.csv", sep=";")
data

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [3]:
# Verificando a quantidade de dados nulos
data.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [4]:
# Tratando a primeira coluna

# Descobrindo o valor mais próximo
aparencia = data.groupby(data["Aparencia"]).size()
aparencia
data.loc[data["Aparencia"] == 'menos', "Aparencia"] = 'nublado'

In [5]:
# Tratando a Temperatura min -130 e max 130

data.loc[(data["Temperatura"] < 0) | (data["Temperatura"] > 130)]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [6]:
# Alterando Temp Maxima

data.loc[data["Temperatura"] > 130, "Temperatura"] = 130

In [7]:
#data.loc[(data["Temperatura"] < 0) | (data["Temperatura"] > 130)]
data["Temperatura"].describe()

count     14.000000
mean      77.714286
std       16.414949
min       64.000000
25%       69.250000
50%       73.500000
75%       80.750000
max      130.000000
Name: Temperatura, dtype: float64

In [8]:
# Tratando a Umidade

data["Umidade"].isnull().sum()

1

In [9]:
# Removendo os NA's e substituindo pela mediana

med = sts.median(data["Umidade"])

# Med = 85.5

data.loc[data["Umidade"].isnull(), "Umidade"] = med

In [10]:
# Verificando os Nulos se ainda existem
data["Umidade"].isnull().sum()

0

In [18]:
# Trattando o regra de domínio de Max 100 e min 0

n_data = data.loc[(data["Umidade"] <= 100) | (data["Umidade"] == 0)]

In [19]:
# Tratando o Vento
n_data["Vento"].isnull().sum()

0

In [20]:
# Removendo o NA's pela moda

vento = n_data.groupby(["Vento"]).size()
vento

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [15]:
n_data["Vento"].isnull().sum()

0

In [71]:
# Verificando a Ultima Coluna
n_data["Jogar"].isnull().sum()

0

In [72]:
play = n_data.groupby(data["Jogar"]).size()
play

Jogar
nao    5
sim    9
dtype: int64

In [22]:
new_data

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     85.5       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6    nublado           64     65.0  VERDADEIRO   sim
7        sol          130     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao